@font-face {
    font-family: Gotham;
    src: url("/public/fonts/GothamBook.ttf");
}

@keyframes fadeInTop {
    0% { top: -30px; opacity: 0; }
    100% { top: 0px; opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

html, body {
    height: 100%;
}

html {
    font-family: Gotham;
}

body, a {
    color: #231f20;
}

body {
    margin: 0;
    background-color: #f9a9ad;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
}

.flex-item {
    padding: 5px;
    margin: 10px;
    line-height: 20px;
    font-size: 2em;
    text-align: center;
}

.flex-item > * {
    margin: 10px 5px;
}

.fade-in-top {
    animation-name: fadeInTop;
    animation-duration: 2s;
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 2.5s;
}

.fade {
    opacity: 1;
    position: relative;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

#pink-noir {
    background-image: url("/public/img/pink_noir.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 350px;
    height: 350px;
}