@font-face {
    font-family: Gotham;
    src: url("/public/fonts/GothamBook.ttf");
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html,
body {
    height: 100%;
}

html {
    font-family: Gotham;
    color: black;
}

body,
a {
    color: #231f20;
}

body {
    margin: 0;
    background-color: #f9a9ad;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
}

.flex-item {
    padding: 5px;
    margin: 10px;
    line-height: 20px;
    font-size: 2em;
    /* font-variant: small-caps; */
    text-align: center;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
}

#pink-noir {
    background-image: url("/public/img/pink_noir.png");
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 350px;
    height: 350px;
}